@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Bangers);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #edd0b8;
  color: #2a2935; }

header {
  font-family: "Bangers";
  width: 100%;
  text-align: center;
  color: #ba4245;
  font-size: 7em;
  text-shadow: 5px 5px 0px #2a2935;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }
  header span {
    color: #5d8f99; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  margin-bottom: -200px; }
  .content:after {
    content: "";
    display: table;
    clear: both; }

.content:after {
  content: "";
  display: block; }

footer, .content:after {
  height: 200px; }

.g {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 50px; }
  .g:last-child {
    margin-right: 0; }
  .g #gauge {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto; }

.names {
  width: 100%;
  margin-top: 50px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .names:last-child {
    margin-right: 0; }

.name {
  font-size: 4em;
  font-weight: 900;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  outline: none;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  text-align: center;
  font-family: "Bangers"; }
  .name:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .name {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .name:last-child {
        margin-right: 0; } }
  .name:hover {
    cursor: pointer;
    opacity: 0.8; }

.vs {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  text-align: center;
  font-family: "Bangers";
  font-size: 4em; }
  .vs:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .vs {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .vs:last-child {
        margin-right: 0; } }

.left {
  color: #ba4245; }
  .left::-moz-selection {
    background: #ba4245;
    color: #edd0b8; }
  .left::selection {
    background: #ba4245;
    color: #edd0b8; }

.right {
  color: #5d8f99; }
  .right::-moz-selection {
    background: #5d8f99;
    color: #edd0b8; }
  .right::selection {
    background: #5d8f99;
    color: #edd0b8; }

footer {
  width: 100%;
  color: #edd0b8;
  background-color: #2a2935; }
